/* ProductInfo.css */

.fade-down {
    animation: fadeDownAnimation 1s ease-in-out;
  }
  
  @keyframes fadeDownAnimation {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .spinner {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 250px auto;
    animation: spin 1s linear infinite;
  }
  
  .spinner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  
  .spinner .inner-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 4px solid #1a1a1a;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Base styles */
.image-slider-container {
  margin: 0 30; /* Center the container horizontally */
  max-width: 400px; /* Ensure the container doesn't exceed the width of the viewport */
}

.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before{
  color: rgb(0, 0, 0);
}

/* Media queries for responsiveness */
@media only screen and (max-width: 767px) {
  /* Styles for screens smaller than 768px (e.g., mobile devices) */
  .image-slider-container {
      width: 90%; /* Adjust width to fit smaller screens */
      margin-left: auto;
      margin-right: auto;
      
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for screens between 768px and 1023px (e.g., tablets) */
  .image-slider-container {
      width: 80%; /* Adjust width to fit tablet screens */
      margin-left: auto;
      margin-right: auto;
  }
}
